@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

*::before,
*::after {
  box-sizing: border-box;
}
/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
img {
  max-width: 100%;
  display: block;
}
input,
button,
textarea,
select {
  font: inherit;
}
body {
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: rgb(242, 247, 249);
}
.container {
  width: min(100% - 9vw, 1128px);
  margin-inline: auto;
}
header {
  position: relative;
}
.headerimgs {
  display: none;
}
nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: inherit;
}

.menu {
  display: none;
}
.menudropdown {
  background-color: #fff;
  position: absolute;
  display: none;
  left: 0%;
  width: 100%;
  top: 90%;
  border-radius: 20px;


}
.menudropdown a {
  display: block;
  padding: 17px;
  text-align: start;
  color: #000;
  /* border-bottom: 1px solid #000; */

}
.menudropdown a:hover {
  background-color: aliceblue;
  color: #333;

}
.topnav {
  display: flex;
  gap: 40px;
}
nav a:hover {
  border-bottom: 2px dotted#fff;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
}
nav a {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

section {
  background-color: #ffff;
  width: 50%;
  margin-inline: auto;
  padding: 20px;
  z-index: 100;
  position: relative;
  margin-top: -100px;
}
.stypo1 {
  font-size: clamp(12px, 2.5vw, 30px);
  font-weight: 600;
}
.stypo2 {
  color: hsl(0, 0%, 48%);
  font-size: 13px;
}
.logo2 {
  position: relative;
  top: 0;
  display: flex;
  justify-content: center;
  margin-top: -50px;
}
.section1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding-top: 20px;
}
.bkm {
  display: flex;
  overflow: hidden;
}
.svgi {
  margin-right: -50px;
  position: relative;
  z-index: 10;
}
hr {
  display: none;
}
.stypo3 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 200px;
}
.bcpj {
  background-color: hsl(176, 72%, 28%);
  color: #fff;
  width: 130px;
  height: 10px;
  border-radius: 30px;
  padding: 20px;
  font-size: 13px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.bk {
  background-color: hsl(176, 72%, 28%);
  /* border: 2px solid hsl(0, 0%, 48%) ; */
  color: hsl(0, 0%, 48%);
  width: 130px;
  height: 10px;
  border-radius: 28px;
  padding: 20px;
  font-size: 15px;

  display: flex;
  justify-content: end;
  align-items: center;
  cursor: pointer;
}
.bk:hover {
  background-color: hsl(176, 72%, 28%);
}
.bcpj:hover {
  background-color: hsl(176, 86%, 11%);
}
.bkq {
  display: none;
  position: absolute;
  left: 0%;
  z-index: 60;
}
.bk-content {
  flex-direction: column;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 20px;
  padding: 20px;
  box-shadow: 5px 5px 8px 5px #888888;
}
.bk-content h3 {
  color: #000;
  font-weight: 800;
  font-size: 27px;
}
button {
  border: none;
}
.btt button {
  background-color: hsl(176, 50%, 47%);
  width: 80px;
  height: 50px;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
}
.bkp p {
  color: hsl(0, 0%, 48%);
  font-size: 17px;
  text-align: center;
  padding: 16px;
}
.bk a {
  text-decoration: none;
  color: #fff;
}
.section2 {
  background-color: #fff;
  width: 50%;
  margin-inline: auto;
  margin-top: 40px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.typography {
  display: flex;
  /* padding: 20px; */
  justify-content: space-around;
}
.typo1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.ty {
  font-size: 25px;
  font-weight: 600;
}
.typo2 {
  font-size: 10px;
}
.borderight {
  border-right: 1px solid hsl(0, 0%, 48%);
  filter: grayscale(100%);
}
.borderbttm {
  border-bottom: 1px solid hsl(0, 0%, 48%);
  filter: grayscale(100%);
}
.borderx {
  border: 2px solid hsl(176, 72%, 28%);
  height: 2px;
  width: 70%;
  background-color: hsl(176, 72%, 28%);
  border-radius: 20px;
  margin-right: -70px;
  position: relative;
  z-index: 1;
}
.bordery {
  border: 2px solid rgb(242, 247, 249);
  height: 2px;
  width: 30%;
  background-color: rgb(242, 247, 249);
  border-radius: 20px;
}
.borders {
  display: flex;
  justify-content: center;
}
article {
  background-color: #fff;
  width: 50%;
  margin-inline: auto;
  margin-top: 40px;
  padding: 20px;
  margin-bottom: 40px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}
.article1 {
  display: flex;
  flex-direction: column;
  gap: 40px;

  padding-top: 30px;
}
.article2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.article-2 {
  border: 1px solid #b1aeae;
  padding: 20px;
  box-shadow: 5px 10px 8px 10px #888888;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.article-2a {
  display: flex;
  justify-content: space-between;
}
.artib {
  font-weight: 800;
  font-size: 15px;
}
.articolor {
  color: hsl(176, 72%, 28%);
  font-weight: 700;
}
.article-2b {
  font-size: 15px;
  color: hsl(0, 0%, 48%);
}
.article-2c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.num {
  font-weight: 800;
}
.reward {
  width: 120px;
  height: 30px;
  background-color: hsl(176, 50%, 47%);
  color: #fff;
  border-radius: 30px;
  font-size: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.db {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;

}
.dd {
  position: absolute;
  display: none;
  background-color: #fff;
  width: 40%;
  padding: 40px;
  box-shadow: 5px 5px 8px 5px #888888;
  left: 28%;
  /* top: 42%; */
  z-index: 101;
}
.hp {
  margin-bottom: 30px;
}
.hp p {
  font-size: 13px;
  color: hsl(0, 0%, 48%);
}
.hp h4 {
  color: #000;
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 8px;
}
.box {
  border: 1px solid hsl(0, 0%, 48%);
  width: 90%;
  display: flex;
  gap: 50px;
  padding: 20px;
  border-radius: 10px;
}
.inbox {
  border: 1px solid hsl(176, 50%, 47%);
  border-radius: 50%;
  height: 35px;
  width: 73px;
}
.inboxz {
  border: 1px solid hsl(0, 0%, 48%);
  border-radius: 50%;
  height: 35px;
  width: 73px;


}
.ox {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.x{
  display: none;
}
.xo {
  display: flex;
  justify-content: space-between;
}
.xo p {
  font-size: 15px;
  color: hsl(0, 0%, 48%);
}
.ox h5 {
  color: hsl(176, 50%, 47%);
  font-size: 20px;
  font-weight: 700;
}
.ox p {
  font-size: 15px;
  color: hsl(0, 0%, 48%);
}
.closemenu {
  position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.article-3 {
  border: 1px solid hsl(0, 0%, 48%);
  padding: 20px;
  color: hsl(0, 0%, 48%);

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.article-3a {
  display: flex;
  justify-content: space-between;
}
.arti3a {
  font-weight: 800;
  font-size: 15px;
}
.article3b {
  font-size: 15px;
}
.article3c {
  display: flex;
  justify-content: space-between;
}
.nums {
  font-weight: 800;
}
.rewards {
  width: 120px;
  height: 30px;
  background-color: hsl(0, 0%, 48%);
  color: #fff;
  border-radius: 30px;
  font-size: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.reward a {
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 1300px) {
  .bk {
    height: 15px;
  }
}

@media screen and (max-width: 1000px) {
  .stypo3 {
    gap: 50px;
  }
}
@media screen and (max-width: 850px) {
  .bk-content h3 {
    font-size: 15px;
  }
  .bk-content {
    width: 90%;
    padding: 10px;
  }
  .bkp p {
    font-size: 10px;
    padding: 0px;
  }
  .btt button {
    height: 40px;
  }
  .divclass img {
    width: 50px;
  }
}

@media screen and (max-width: 650px) {
  .headerimg {
    display: none;
  }
  .headerimgs {
    display: block;
  }
  section {
    width: 80%;
  }
  .article-2a {
    flex-direction: column;
    gap: 10px;
  }
  .article-2c {
    flex-direction: column;
    gap: 10px;
    align-items: self-start;
  }
  .article-3a {
    flex-direction: column;
    gap: 10px;
  }
  .article3c {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .section2 {
    width: 80%;
  }
  article {
    width: 80%;
  }
  .bk-content h3 {
    font-size: 15px;
  }
  .bk-content {
    width: 90%;
    padding: 10px;
  }
  .bkp p {
    font-size: 10px;
    padding: 0px;
  }
  .btt button {
    height: 40px;
  }
  .divclass img {
    width: 50px;
  }
  .hp h4 {
    position: absolute;
    top: 12px;
    font-size: 12px;
  }
  .closemenu {
    top: 12px;
    right: 16px;
  }
  .ox {
    gap: 10px;
  }
  .ox h5 {
    font-size: 10px;
  }
  .ox p {
    font-size: 7px;
  }
  .box {
    gap: 12px;
  }
  .hp p {
    font-size: 10px;
  }
  .dd {
    left: auto;
  }
  
}
@media screen and (max-width: 450px) {
  .topnav {
    display: none;
  }
  .menu {
    display: block;
  }
  section {
    margin-top: -60px;
  }
  .bk {
    display: none;
  }
  .svgi {
    margin-right: auto;
  }
  .stypo3 {
    gap: 10px;
  }
  .typography {
    flex-direction: column;
    align-items: center;
    gap: 9px;
  }
  .borderight {
    display: none;
  }
  hr {
    display: block;
  }
  .borderx {
    width: 50%;
  }
  .bordery {
    width: 46%;
  }
  .xo p {
    display: none;
  }
  .x{
    display: block;
  }

}
@media screen and (max-width: 350px) {
  .menudropdown a {
    padding: 10px;
    font-size: 10px;
  }

}
